[submodule "src/llvm"]
	path = src/llvm
	url = https://github.com/project-starch/capslock-llvm.git
	branch = master
[submodule "src/rust"]
	path = src/rust
	url = https://github.com/project-starch/capslock-rust.git
	branch = master
[submodule "src/qemu"]
	path = src/qemu
	url = https://github.com/project-starch/capslock-qemu.git
	branch = master
