[submodule "setup/src/llvm"]
	path = src/llvm
	url = https://github.com/project-starch/capstone-llvm.git
	branch = artefact
[submodule "setup/src/rust"]
	path = src/rust
	url = https://github.com/project-starch/capstone-rust.git
	branch = artefact
[submodule "setup/src/qemu"]
	path = src/qemu
	url = https://github.com/project-starch/capstone-qemu.git
	branch = capslock-maintain
